<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to TechGrazer!</h1>
            <p>We hope you learn a lot from our amazing tech articles (assuming there are any!)</p>
            <p>
                <a class='btn btn-primary btn-lg' href='/articles/new'>Create new article</a>
            </p>
        </div>
    </header>
    
    <div class='row text-center' style='display:flex; flex-wrap: wrap'>
        <% articles.forEach(function(article){ %>
            <div class='col-md-3 col-sm-6'>
                <div class="thumbnail">
                    <img src='<%= article.thumbnail %>'>
                    <div class='caption'>
                        <h3><%= article.title %></h3>
                        <p><%= article.summary %></p>
                        <p><a class="btn btn-success btn-sm" href="/articles/<%= article._id %>">View article</a></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
        
</div>
    
<% include partials/footer %>