<% include partials/header %>

<div class="container">

    <div class='row'>
        <h1 style="text-align: center;">Create a new article</h1>
        <div style='width: 30%; margin: 30px auto;'>
            <form action='/articles' method="POST">

                <label for="title">Article title</label>
                <div class="form-group">
                    <input class='form-control' type='text' name="title">
                </div>

                <label for="title">Article folder name</label>
                <div class="form-group">
                    <input class='form-control' type='text' name="folder">
                </div>

                <div class="form-group">
                    <button class='btn btn-primary btn-lg btn-default btn-block'>Submit</button>
                </div>
            </form>
            <a href='/articles'>Cancel</a>
        </div>
    </div>
</div>
<% include partials/footer %>