<% include partials/header %>

<div class="container">

    <div class='row'>
        <h1 style="text-align: center;">Create a new tutorial</h1>
        <div style='width: 30%; margin: 30px auto;'>
            <form action='/tutorials' method="POST">
                <div class="form-group">
                    <input class='form-control' type='text' placeholder="tutorial title" name="title">
                </div>
                <div class="form-group">
                    <input class='form-control' type='text' placeholder="creation date" name="date">
                </div>
                <div class="form-group">
                    <input class='form-control' type='text' placeholder="image filename" name="image">
                </div>
                <div class="form-group">
                    <input class='form-control' type='text' placeholder="tutorial description" name="description">
                </div>
                <div class="form-group">
                    <input class='form-control' type='text' placeholder="tutorial text" name="text">
                </div>
                <div class="form-group">
                    <button class='btn btn-primary btn-lg btn-default btn-block'>Submit</button>
                </div>
            </form>
            <a href='/tutorials'>Cancel</a>
        </div>
    </div>
</div>
<% include partials/footer %>