<% include partials/header %>

<div class="container">
    <h1><%= tutorial.title %></h1>

    <img src="images/<%= tutorial.image %>" alt="">

    <p>
        <%= tutorial.text %>
    </p>
</div>

<% include partials/footer %>